<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/tomatoOne.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <title>Agridera Seeds</title>
</head>
<body>
    <section class="header">
        <nav class="navbar wrapper">
            <div class="logo">   
                <a href="index.html"><img src="./images/logo/logo.png" alt="logo" class="logo_png"></a>
            </div> 
            <input type="checkbox" id="toggler">
            <label for="toggler"><i class="ri-menu-line"></i></label>
            <div class="search ml-auto">
                <input type="text" placeholder="Search" name="search">
                <button type="submit"><img src="./images/ico_search.svg" alt=""></button>
                <hr>
            </div>
            <div class="menu">
                <ul class="list">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="#">Company Profile</a></li>
                    <li><a href="./tomatoAll.html">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">R & D</a></li>
                    <li><a href="./contactus.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </section> 

    <section class="main">
        <div class="wrapper">
            <a href="./tomatoAll.html" class="arrow row">
                <img src="./images/tomatoOne/Arrow.svg" alt="<---">
                <p>Return to all tomatoes</p>
            </a>
            <div class="item">
                <div class="row" v-if="product">
                    <div class="col-md-6">
                        <p class="main"><span>{{product.title}}</span><br>{{product.short_text}}</p>
                        <img src="./images/tomatoOne/Union.png" alt="xxxxx">
                        <div class="row reddiv">
                            <div class="redtomato">
                                <img src="./images/tomatoOne/redVector.svg" alt="RedTomato">
                            </div>
                            <div class="col-md-9">
                                <b>Very high yield and<br>excellent fruits quality!</b>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <img :src="'./images/tangerineOne/'+product.image" class="bigtomato" alt="tomato">
                        <div class="download">
                            <button @click.prevent="addToCart(product.id)" v-if="!btnVisible"><span class="cartbtn">Add to card</span></button>
                            <a href="./contactus.html"><button v-if="btnVisible"><span class="cartbtn">Go to card</span></button></a>
                        </div>
                    </div>
                </div>
                <div class="row fckdescript">
                    <div class="col-md-6">
                        <div class="name characteristics">
                            <p>DESCRIPTION</p>
                            <img src="./images/tomatoOne/Line2.svg" class="line" alt="------------">
                            <p class="description">{{product.desc}}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="name cycle">
                            <p>Cycle</p>
                            <img src="./images/tomatoOne/Line2.svg" class="line" alt="------------">
                            <ul class="description">
                                <li class="lidescript"><span>Spring</span></li>
                                <li class="lidescript"><span>Fall </span></li>
                                <li class="lidescript"><span>Winter</span></li>
                            </ul>
                        </div>
                        <div class="name color">
                            <p>Color</p>
                            <img src="./images/tomatoOne/Line2.svg" class="line" alt="------------">
                            <p class="description">Orange</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer1">
        <div class="wrapper">
            <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <ul class="footer__menu">
                            <li class="footer__item"> 
                                <a href="#">PROFILE</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">MANAGEMENT</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">PRODUCTS</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">R&D</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">LINKS</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">SITEMAP</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">CONTACT</a>
                            </li>
                        </ul> 
                    </div>
                    <div class="col-lg-3 d-flex justify-content-center ml-auto">
                        <li class="footer__link">
                            <a href="#"><img src="./images/links/linkedin.svg" alt="linkedin"></a>
                        </li>
                        <li class="footer__link">
                            <a href="#"><img src="./images/links/inst.svg" alt="instagram"></a>
                        </li>
                        <li class="footer__link">
                            <a href="#"><img src="./images/links/youtube.svg" alt="youtube"></a>
                        </li>
                        <li class="footer__link">
                            <a href="#"><img src="./images/links/twitter.svg" alt="twitter"></a>
                        </li>
                        <li class="footer__link">
                            <a href="#"><img src="./images/links/facebook.svg" alt="facebook"></a>
                        </li>
                    </div>
            </div>
        </div>
</section>

<footer>
    <div class="wrapper">
        <div class="row">
            <div class="col d-flex justify-content-center ">
                AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="./js/main.js"></script>
</body>
</html>